legend {
  padding: 3px;
  margin-left: -25px;
  background-color: #5C7AEA;
  border-radius: 5px;
}

fieldset {
  background-color: #E6E6E6;
  border-radius: 6px;
  padding: 10px 50px 10px 50px;
  display: inline-block;
}

mark {
  padding: 6px;
  background-color: #14279B;
  color: #E6E6E6;
  border-radius: 6px;
}

.add-edit-form {
  display: inline-block;
  text-align: center;
  margin-top: 80px;
  padding: 10px;
}

.form-input {
  margin-top: 5px;
  border-width: 1px;
  border-radius: 5px;
  display: inline-block;
  padding: 3px;
  text-align: left;
}

.add-student-button {
  margin: auto;
  display: block;
  font-weight: bold;
  font-size: 15px;
  padding: 15px;
  border-style: none;
  background-color: #5C7AEA;
  color: #14279B;
  border-radius: 10px;
  transition: opacity 0.25s;
}
.add-student-button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.add-student-button:active {
  opacity: 0.4;
  padding: 20px;
}

label {
  display: block;
}

.assigndep {
  border-style: none;
  background-color: #e0efff;
  width: 600px;
  height: 200px;
  align-content: center;
  border-radius: 20px;
  padding: 1px 0 20px 0;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 70px;
}

.searchtb {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

body {
  background-color: #E6E6E6;
  margin: 0;
  line-height: 1.6em;
  font-family: Arial, Helvetica, sans-serif;
}

.alll {
  border-radius: 15px;
  background-color: #e0efff;
  width: 82%;
  margin: auto;
  padding: 10px;
  overflow: hidden;
}

.need {
  float: left;
  width: 32%;
  height: 30%;
  border: 2px grey solid;
  border-color: darkslategray;
  padding: 10px;
  box-sizing: border-box;
}

.circle {
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: blue;
  height: 215px;
  width: 270px;
  background-color: #d1e6fc;
  border-radius: 15%;
  display: inline-grid;
}

p {
  margin: 0px;
  padding: 10px;
}

.context {
  width: 80%;
  margin: auto;
  overflow: hidden;

}

.about {
  background-color: #e0efff;
  padding: 10px;
  border-radius: 15px;
  margin-top: 10px;
}

a {
  color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 3px;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s, font-weight 0.3s, padding 0.3s;
}

a.active {
  color: #001D6E;
  font-weight: 600;
}

a.active,
a:hover {
  background-color: #E6E6E6;
}

a:hover {
  color: black;
  font-weight: 700;
  padding: 8px;
}

.mainhead {
  margin-top: 57px;
  background-color: #7FB5FF;
  color: #001D6E;
  padding-left: 50px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.list {
  background-color: #14279B;
  color: #3D56B2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.list ul {
  padding: 0;
  list-style: none;
}

.list li {
  display: inline;
  margin: 10px;
}

.foot {
  margin-top: 12px;
  background-color: rgb(43, 38, 38);
  padding: 20px;
  width: 97.3%;
  align-items: flex-end;
}